!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Ten Thousand Things
    %script{src: "../../assets/javascripts/jquery-3.2.1.min.js"}
    %link{href: "../../assets/stylesheets/skeleton.css", rel: "stylesheet"}/
    %link{href: "../../assets/stylesheets/application.css", rel: "stylesheet"}/
  %body
    .container
      = yield
